<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
    {{ $style := resources.Get "css/main.css" | postCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body class="bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-200">
    <div class="container mx-auto px-4">
        {{ partial "header.html" . }}
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer.html" . }}
    </div>
    {{ $script := resources.Get "js/main.js" }}
    <script src="{{ $script.Permalink }}"></script>
</body>
</html>
