{{ define "main" }}

{{ template "_internal/google_analytics.html" . }}

<section
  class="w-full sm:w-2/5 bg-gray-200 dark:bg-dark2 rounded shadow flex flex-col justify-between"
>
  <div>
    {{- partial "header.html" . -}}
    {{ partial "name.html" . }}
    {{ partial "profilePhoto" . }}
    {{ partial "social.html" . }}
    {{ partial "aboutDesc" . }}
    {{ partial "language.html" . }}
    <!--{{ partial "hobby.html" . }}-->
  </div>
</section>

<section class="w-full sm:w-3/5 px-3">  
  {{ partial "education.html" . }}
  {{ partial "publication.html" . }}
  {{ partial "experience.html" . }}
  {{ partial "project.html" . }}
  {{ partial "skill.html" . }}
  {{ partial "award.html" . }}
</section>
<section
  class="w-full sm:w-5/5 flex flex-col justify-between"
>
  {{- partial "footer.html" . -}}
</section>
{{ end }}


