{{ define "main" }}
<div class="py-8">
    {{ partial "profile.html" . }}

    {{ with .Site.GetPage "/education" }}
        <div class="mt-8">
            <h2 class="text-3xl font-bold">{{ .Title }}</h2>
            <div class="prose dark:prose-invert max-w-none">
                {{ .Content }}
            </div>
        </div>
    {{ end }}

    {{ with .Site.GetPage "/publications" }}
        <div class="mt-8">
            <h2 class="text-3xl font-bold">{{ .Title }}</h2>
            <div class="prose dark:prose-invert max-w-none">
                {{ .Content }}
            </div>
        </div>
    {{ end }}

    {{ with .Site.GetPage "/experience" }}
        <div class="mt-8">
            <h2 class="text-3xl font-bold">{{ .Title }}</h2>
            <div class="prose dark:prose-invert max-w-none">
                {{ .Content }}
            </div>
        </div>
    {{ end }}

    {{ with .Site.GetPage "/projects" }}
        <div class="mt-8">
            <h2 class="text-3xl font-bold">{{ .Title }}</h2>
            <div class="prose dark:prose-invert max-w-none">
                {{ .Content }}
            </div>
        </div>
    {{ end }}

    {{ with .Site.GetPage "/awards" }}
        <div class="mt-8">
            <h2 class="text-3xl font-bold">{{ .Title }}</h2>
            <div class="prose dark:prose-invert max-w-none">
                {{ .Content }}
            </div>
        </div>
    {{ end }}

</div>
{{ end }}
